html, body, .view {
	height: 100%;
}

.bg-photo {
	background: url(/content/img/Background_Image.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646
}

.body {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	color: #000;
	background-color: rgba(32, 26, 22, .7);
	z-index: 99;
}

.body h1, .body p, .body p a {
	color: #fff;
}

.body a i {
	margin-right: 10px;
}

.profile-picture img {
	display: block;
	margin: auto;
	border-radius: 100%;
}

.bio {
	margin-bottom: 10px;
}

@media (min-width: 992px) {
	.body .info {
		position: relative;
		top: 20%;
	}
	.bio {
		margin-bottom: 30px;
	}
}

.bio p {
	margin-bottom: 0px;
}

@media (max-width: 480px) {
	.bio p {
		font-size: 0.9em;
	}
}

footer {
	background-color: #1c2331;
	padding-top: 20px;
	color: #fff;
}

footer .container-fluid .top-footer {
	padding-bottom: 20px;
}

@media (max-width: 480px) {
	footer .container-fluid .top-footer {
		text-align: center;
	}
}

footer .container-fluid .top-footer .social a {
	padding: 0 2px;
}

footer .footer-contact-info p {
	margin-bottom: 0px;
}

footer .row .col-lg-12 {
	padding: 0;
}